/*This style was modified from panic.com/statusboard/modules/spacepeople/index.html*/
@font-face
{
	font-family: "Roadgeek2005SeriesD";
	src: url("http://panic.com/fonts/Roadgeek 2005 Series D/Roadgeek 2005 Series D.otf");
}

body, *
{

}
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td
{ 
	margin: 0;
	padding: 0;
}
	
fieldset,img
{ 
	border: 0;
}

	
/* Settin' up the page */

html, body, #main
{
	overflow: hidden; /* */
}

body
{
	color: white;
	font-family: 'Roadgeek2005SeriesD', sans-serif;
	font-size: 20px;
	line-height: 24px;
}
p
{
	color:#7e7e7e;
	width: 220px;
	font-size: 14px;
	margin: 0px auto;
}
body, html, #main
{
	background: transparent !important;
}

#mainContainer
{
	width: 250px;
	height: 250px;
	text-align: center;
	
}
#mainContainer *
{
	font-weight: normal;
}

h1
{
	font-size: 120px;
	line-height: 120px;
	margin-top: 15px;
	margin-bottom: 28px;
	color: white;
	text-shadow:0px -2px 0px black;
	text-transform: uppercase;
}

h2
{
	width: 180px;
	margin: 0px auto;
	padding-top: 20px;
	font-size: 16px;
	line-height: 18px;
	color: #7e7e7e;
	text-transform: uppercase;
	padding-bottom: 5px;
}
.image 
{
    margin: 0px auto;
     -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -khtml-border-radius: 8px;  
    border-radius: 8px;
    max-width: 245px; /*so the picture doesn't overflow the container and there is still a little padding*/
    width: auto;
    height: 120px;
    overflow: hidden;
}